html, body {
    margin: 0;
    /*height: 100%;
    overflow: hidden;*/
    background-color: #9E7F9A;
}

.image{
    float: left;
    widows: auto;
    height: 80vh;
}

input{
    text-align: right;
}

.left{
    float: left;
}

.right{
    float: right;
}

.menu {
    background-color: yellow;
    float: right;
    width: 25%;
    padding: 1%;
    border-radius: 20px 50px;
}
